html, body {
  background-color: lightblue;
  display: inline;
  height: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 60px;
  display: flex;
  justify-content: center;
  height: 50%;
}

.ticTacToeBoard {
  display: flex;
  justify-content: center;
  height: 50%;
}

button {
  font-size: 80px;
  width: 100px;
  border: 2px black;
  background-color: lightblue;
}

button.key.top {
  border-bottom: 4px solid black;
  border-radius: 8%;
}

button.key.middle {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 8%;
}

button.key.bottom {
  border-top: 4px solid black;
  border-radius: 8%;
}

button.key.left {
  border-right: 4px solid black;
  border-radius: 8%;
}

button.key.center {
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-radius: 8%;
}

button.key.right {
  border-left: 4px solid black;
  border-radius: 8%;
}

.row {
  display: flex;
  border-radius: 8%;
}

button:focus {
  outline: 0;
}

button:active {
  background-color: white;
  border-radius: 8%;
}
